{{outlet}}
<h2> General Information</h2>
<div class="row">
  <div class="col-md-12">
    <select>
    <option value = "1"> yoda </option>
    <option value = "2"> baozi </option>


    </select>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    Pet Information:
    <ul>
      <li> Name: {{model.name}} </li>
      <li> age:  {{model.age}}</li>
      <li> weight: {{model.weight}}</li>
      <li> Date of Birth: </li>
      <li> species: {{model.species}}</li>
      <li> picture </li>
    </ul>
  </div>
</div>



Parent Contact Information:
<ul>
  <li> Name </li>
  <li> relationship </li>
  <li> address </li>
  <li> phone number </li>
  <li> email address </li>
</ul>

Emergency contact Information

<button>Edit</button>
